<div class="container" ng-controller="UserCreateController as user">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1>Sign Up</h1>
      <form class="form-signup" method="post" onsubmit="return checkForm(this);" ng-submit="user.signupUser()">

        First Name:<br>
        <input type="text" placeholder="Your first name" name="firstname" required class="form-control" ng-model="user.userData.firstname"><br>

        Last Name:<br>
        <input type="text" placeholder="Your last name" name="lastname" required class="form-control" ng-model="user.userData.lastname"><br>

        FRCC Email:<br>
        <input type="email" placeholder="Your FRCC email address" name="username" required pattern="$(frcc.us)" class="form-control" ng-model="user.userData.username"><br>

        Password:<br>
        <input type="password" placeholder="Password" name="password" id="password" required class="form-control" ng-model="user.userData.password"><br>

        Confirm Password:<br>
        <input type="password" placeholder="Confirm password" name="passwordConf" id="passwordConf" required class="form-control"><br>

        Department:<br>
        <select name="department" required class="form-control" ng-model="user.userData.dept">
          <option value="Accounting"> Accounting </option>
          <option value="IT"> IT </option>
          <option value="Media"> Media </option>
        </select> <br>

        <button type="submit" class="btn btn-danger">Sign Up</button>
      </form>
    </div>
  </div>
</div>
